:3000 {
    header /.well-known/matrix/* Content-Type application/json
    header /.well-known/matrix/* Access-Control-Allow-Origin *

    handle_path /.well-known/matrix/server {
        respond `{"m.server": "{$CONDUIT_SERVER_NAME}:443"}`
    }

    handle /_matrix/* {
        reverse_proxy  127.0.0.1:6167 {
            trusted_proxies {$TRUSTED_PROXIES}
        }
    }
    
    handle {
        root * /var/cinny
        file_server
    }
}
